/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

/*COMMON*/
body {
    font-family: 'Roboto', sans-serif;
    color: #33475b;
}

.container {
    width: 1024px;
    margin: auto;
}

.col {
    float: left;
}

p {
    font-weight: 500;
    font-size: 15px;
    padding: 25px 0;
}

/*Clearfix and Column*/
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.two-col .col {
    width: 50%;
}

/*Two-col alternative*/
.two-col .left {
    width: 32%;
}

.two-col .right {
    width: 68%;
}

.three-col .col {
    width: 30%;
}

.four-col .col {
    width: 25%;
}

/*Button*/
.button {
    border: 1px solid #ff7a59;
    background-color: #ff7a59;
    color: white;
    border-radius: 5px;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 11px;
    display: inline-block;
}
/*HEADER*/

/*Nav*/
.nav-top {
    background-color: #eeffff;
    border-bottom: 1px solid #33475b;
    padding: 20px 0;
}

.menu {
    list-style-type: none;
}

.m-link {
    display: inline-block;
}

nav a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    margin-right: 10px;
    color: #33475b;
}

/*Fas è la classe di default assegnata alle icone prese da Font Awesome */
nav .fas {
    padding: 0 6px;
}

#bord-right {
    border-right: 1px solid;
    padding-right: 10px;
}

.fa-search {
    color: rgb(51, 180, 212);
}

.login {
    border: 1px solid #ff7a59;
    color: #ff7a59;
    padding: 8px 7px;
    border-radius: 5px;
}

.gethub {
    padding: 8px 7px;
}

.nav-top .col:last-child,
.nav-bottom .col:last-child {
    text-align: right;
}

.nav-bottom {
    padding: 15px 0;
}

.nav-bottom img {
    width: 100px;
}

/*Jumbotron*/
.jumbotron {
    background-image: url(../img/jumbotron.png);
    height: 470px;
    background-size: 1100px;
    background-repeat: no-repeat;
    background-color: #fff3ee;
    background-position: 100% 0;
    border-bottom: 2px solid;
}

.title {
    width: 50%;
    padding-top: 5%;
}

h1{
    font-size: 43px;
}

.title h5{
    font-size: 12px;
    font-weight: 400;
    padding-top: 30px
}

.bg-lightblue {
    height: 60px;
    width: 100%;
    background-color: #aceae3;
    border-bottom: 2px solid;
}

.jumbotron .button {
    padding-top: 10px;
}
/*MAIN*/
/*Advantages-hubspot*/
.advantages-hubspot {
    background-color: #f5f8fa;
}

main p {
    font-weight: 400;
}

/*slogan*/
.slogan {
    width: 75%;
    text-align: center;
    padding-top: 4%;
    margin: auto;
}

.slogan img {
    width: 200px;
    margin: auto;
}

/*offers*/
.offers img{
    height: 120px;
    background-color: white;
    padding-bottom: 30px;
    margin: auto;
}

/*Offerta principale o in risalto*/
.main-offer {
    background-color: white;
    box-shadow: 0 0 10px #d2d9e0;
    border-radius: 5px;
}

.main-offer .left{
    padding: 5% 10%;
}

.main-offer .right{
    padding-top: 5%;
    padding-right: 10%; 
}

.main-offer .left {
    display: inline-block;
    text-align: center;
}

.main-offer h4 {
    text-transform: uppercase;
    font-size: 15px;
    display: flex;
}

h4 span {
    height: 10px;
    width: 65%;
    border-bottom: 1px solid #33475b;
    margin-left: 60px;
}

.offers .menu {
    padding-top: 15px;
}

.offers .m-link {
    font-size: 13px;
    margin-right: 12px;
}

.fa-check-circle {
    color: #ff7a59;
    margin-right: 8px;
}

/*Other-offers (altre offerte da visualizzare)*/
.other-offers{
    padding: 4% 0;
}

.offers .three-col {
    text-align: center;
}

.other-offers .col{
    background-color: white;
    box-shadow: 0 0 10px #d2d9e0;
    border-radius: 5px;
    padding: 25px;
}

.other-offers p {
    border-bottom: 1px solid #33475b;
    padding-bottom: 50px;
}

.other-offers h4 {
    padding-top: 30px;
}

.three-col li {
    text-align: left;
    font-size: 13px;
}

.three-col  .button {
    display: inline-block;
    margin-top: 30px;
}

.three-col .center {
    margin: 0 5%;
}

/*Hubspot Results*/
.results-hub {
    background-image: linear-gradient( 45deg, #00a4bd,#05cab0);
    text-align: center;
    color: white;
    padding: 30px 0;
}

.results-hub h2 {
    width: 90%;
    margin: auto;
    font-size: 28px;
}


.results-hub .four-col .col {
    padding: 20px;
}

.bord-top {
    border-top: 1px solid white;
}
.bord-white {
    border-right: 1px solid white;
}

.results-hub img {
    height: 25px;
}

.quantity-results {
    display: inline-block;
    font-size: 35px;
    font-weight: 900;
    margin: 15px 0;
}

.four-col h6 {
    font-weight: 400;
}

.box-table {
    padding: 25px 0;
}

/*Sponsor and testimonial*/
/*sponsor*/
.sponsor {
    padding-top: 40px;
}

.sponsor .left {
    padding-left: 8%;
}
.sponsor h3 {
    font-size: 35px;
}

.sponsor p span {
    font-weight: 800;
}

.sponsor p {
    width: 55%;
}

.sponsor .right {
    padding-left: 130px;
}

.sponsor img {
    display: inline-block;
    width: 120px;
    padding: 15px 10px;
    vertical-align: middle;
}

/*testimonial*/
.testimonial {
    margin: 25px 0;
}
.box-testimonial {
    width: 90%;
}

.testimonial h2{
    font-size: 30px;
    padding-top: 35px;
}

.testimonial h6 {
    font-weight: 400;
    margin-top: 35px;
}

.position-img {
    text-align: right;
}

.asian {
    width: 50%;
    display: inline-block;
}

/*FOOTER*/
footer {
    background-color: #2d3e50;
    padding: 30px 0;
    color: white;
}

.help h4 {
    font-weight: 600;
    font-size: 15px;
    padding-bottom: 15px;
}

footer a {
    text-decoration: none;
    font-size: 11px;
    font-weight: 300;
    color: white;
}

.help li {
    margin: 15px 0;
}

.help .button {
    background-color: white;
    border: 1px solid white;
    color: #2d3e50;    
    padding: 10px 10px;
    font-weight: 500;
}

.socialnetwork .m-link {
    margin-right: 15px;
    margin-top: -20px;
}

.socialnetwork a {
    font-size: 15px;
}

/*Languages*/
.language .menu {
    margin: 20px 0;
    text-align: center;
}

.language .m-link {
    margin-right: 20px;
}

/*Copyright*/
.copyright {
    margin-top: 30px;
}

.copyright img{
    width: 100px;
    padding-bottom: 10px;
}

.copyright h6 {
    font-weight: 500;
    font-size: 14px;
}

.copyright .col:last-child {
    text-align: right;
}

.copyright a {
    margin-left: 20px;
    font-size: 13px;
    font-weight: 400;
}